@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  max-width: 1024px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("./media/header.jpg") no-repeat center -100px / cover;
  background-size: 100% 500px;
  height: 360px;
  padding: 0px;
  margin-bottom: 0px;
}

header h1 {
  display: flex;
  font-size: 3em;
  padding-left: 20px;
  margin: 0;
  color: white;
  font-weight: 700;
  align-self: left;
  flex-grow: 1;
  align-items: center;
}

nav {
  background-color: #6a1b9a;
}

nav ul {
  text-align: center;
  list-style: none;
  color: antiquewhite;
  gap: 10px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

nav ul li {
  display: flex;
  margin: 0 20px;
  padding-top: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  padding: 10px;
}

nav ul li a:hover {
  background-color: white;
  color: #6a1b9a;
  border-radius: 10%;
}

.wrapper {
  margin-top: 0px;
  text-align: center;
  background-color: #f2f2f2;
  padding: 10px 10px 0 10px;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  text-align: center;
}
.p-center {
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.left-side {
  float: left;
  margin: 7px 7px 7px 0;
}

aside {
  width: 50%;
  padding: 15px;
  margin-top: 0;
}

aside h3 {
  text-align: left;
  margin-left: 0;
}
aside p {
  text-align: justify;
}
.sidebar img {
  display: block;
  margin-left: auto;
}

.side {
  width: 50%;
  text-align: justify;
  border-right: 1px solid lightgray;
  padding-right: 10px;
  margin-left: 20px;
}
.side h3 {
  text-align: left;
  margin-left: 0;
}

.services-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 54px 20px;
  padding: 20px 60px 20px 80px;
  box-sizing: border-box;
}
.service-item {
  padding: 6px 0;
  display: flex;
  gap: 8px;
  cursor: pointer;
}
.service-item i {
  display: flex;
  border-radius: 50%;
  background-color: white;
  border: grey solid 5px;
  width: 100%;
  min-width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
}
.service-item i {
  font-size: 2.6em;
  color: #4b0082;
}
.service-item h3 {
  font-size: 1.4em;
  text-align: left;
  margin: 0 0 10px;
}
.service-description p {
  margin-top: 24px;
  font-size: 0.8em;
  line-height: 1.8em;
  text-align: justify;
}

.service-item i:hover {
  color: white;
  background-color: #53417e;
  border-color: #53417e;
  transition: all 0.5s ease-in;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 40px;
}

.portfolio-container img {
  width: 30%;
  margin: 2px;
}

#portfolio h3 {
  text-align: center;
}

.portfolio-container img {
  transition: transform 1.2s ease;
}

.portfolio-container img:hover {
  transform: rotate(-10deg);
}

.portfolio-container .image-rotate:hover {
  transform: rotate(360deg);

  border-radius: 50%;
}

#portfolio {
  padding-top: 20px;
  background-color: #f2f2f2;
}

.location-container {
  display: flex;
  justify-content: space-between;
  height: 500px;
  margin-left: 140px;
  margin-right: 140px;
}

#location h2,
h3 {
  margin: 20px;
  text-align: center;
}

.location-content {
  flex: 2;
}

.location-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 10px;
  text-align: center;
}
.address {
  text-align: left;
}
.address p {
  margin: 0;
}
.map-container {
  height: 450px;
  width: 450px;
  margin-bottom: 20px;
}

.map-container iframe {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: black 2px solid;
}

.location-container h3 {
  margin-bottom: 20px;
  font-size: 1.2em;
  margin-bottom: 40px;
  color: #777;
}

 .form-container {
  background: url(map-image1.png) no-repeat center center / cover;
  background-size: cover;
  background-color: #75639a;
  color: white;
  padding: 10px;
  gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  gap: 5px;
  padding: 0;
}

form h1 {
  margin-bottom: 20px;
  text-align: center;
}

form label {
  text-align: left;
  float: left;
}

form input,
form textarea {
  padding: 10px;
  border-color: white;
  border-radius: 5px;
  align-self: center;
  width: 200px;
}
form input:focus,
form textarea:focus {
  outline: 3px solid blue;
}

form button {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  width: 290px;
  align-self: center;
  margin-bottom: 20px;
  margin-left: 110px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative; /*Mantenir la relació de cada input amb el missatge d'error*/
  margin-bottom: 25px; /* Afegir marge inferior per reservar espai per al missatge d'error*/
}

input,
textarea {
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  width: 100%; /* Assegura que els inputs mantinguin l'amplada*/
  box-sizing: border-box; /* Per el padding i el border no afectin l'amplada total */
  transition: border-color 0.3s ease; /* Suavitza el canvi de color a les vores */
}

.form-group label {
  width: 100px;
  margin-right: 10px;
  font-size: 1.24em;
}

.form-group input,
.form-group textarea {
  flex: 1;
}

.form-group:last-of-type {
  align-items: flex-start;
}

.form-group:last-of-type label {
  margin-top: 16px;
}

.form-group textarea {
  height: 100px;
}

form button:hover {
  background-color: #b0adb4;
}

/* Estils generals del formulari */
.form-group {
  position: relative; /* Relaciona l'input amb seu missatge d'error */
  margin-bottom: 40px; /* Asegura que hi ha espai suficient per el missatge d'error */
}

input.error,
textarea.error {
  border-color: rgb(145, 25, 25); /* Bordes vermells quan hi ha un error */
}

input.success,
textarea.success {
  border-color: rgb(
    27,
    226,
    27
  ); /* Bordes verds quan la validacio es correcta */
}

/* Mensajes de error */
.error-message {
  color: rgb(87, 5, 5);
  font-size: 12px;
  position: absolute; /* Col·loca el missatge d'error sota l'input sense modificar el layout */
  bottom: -20px; /* Ajusta la posició del missatge just a sota de l'input */
  left: 0;
  display: none; /*Oculta el missatge d'error per defecte */
}

/* Errors visibles */
input.error + .error-message,
textarea.error + .error-message {
  display: block; /* Només mostra el missatge d'error quan el camp té un error */
}

/* Modal per a l'alerta d'enviament de formulari */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /*ajusta la posició del modal amb les coordenades del top: 50% i left: 50%*/
  background-color: #5c5a5a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /*z-index: 1000 assegura que el modal estigui a la capa superior sobre qualsevol altre contingut de la pàgina*/
  text-align: center;
}

.hidden {
  display: none;
} 

footer {
  background-color: #573077;
  color: white;
  text-align: end;
  padding: 10px;
}
footer a {
  color: white;
}
